$green: #00FFC4;

$brand-primary: $green;
$link-color: $green;
$body-bg: #1A1B1D;

$font-family-sans-serif: "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;

@import 'node_modules/bootstrap/scss/bootstrap';
